<!-- <style>
  .red {
    color: red;
  }
</style>

<h2>{{msg}}</h2>
<p>This is my first component!</p>
<p [title]="title">提示信息</p>

<ul>
  <li *ngFor="let item of arr">{{item}}</li>
</ul>


<p *ngIf="flag">flag1</p>
<p *ngIf="!flag">flag2</p>

<span [ngClass]="{'red': true}">红</span>

<p [ngStyle]="{'font-size': '50px'}">ng-style</p>

<h1>{{date}}</h1>
<h1>{{date | date:'shortDate'}}</h1>


<h1>{{ 2 | enlarge }}</h1>

<button (click)="handler()">按钮</button>

<input type="text" (keydown)="keyDown($event)"><br/><br/><br/><br/>

<input type="text" [(ngModel)]="keywords">
{{keywords}} -->

<button (click)="unsub()">取消rxjs</button>

